/*primary bg color for the portal*/
.color-bg-primary{
	background-color: #2E6D92;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
	margin-top:auto;
}

.sub-footer{
	min-height:12vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
}

/*removing curved border of jumbotron class of bootstrap4*/
.jumbotron {
  border-radius: 0;
  height: 70px;
  padding: 0;
}

.container-table{
	padding-top:50px;
}

.table-header{
	color: white;
	background-color: #2E6D92;
	text-align: center;
}

td{
	text-align: center;
}

.dog-icon{
	width: 40px;
	height: auto;
	border-radius: 10px;
}

.aligncenter{
	text-align: center;
}

.alignjustify{
	text-align: justify;
}

.nav-link{
	font-size: 1.4rem;
}

.menu-title{
	padding: 20px 0px;
}
